@using InventoryTracker.Models
@{
    Layout="_Layout";
}
<div id="four" class="container">
  <div class="row">
      <div class="col-md-12">
        <a href="#"><div class="well long">
            <h1>@Model["dish"].GetName()</h1>
        </div></a>
        <form action="/dishes/@Model["dish"].GetId()/edit">
            <button>Edit</button>
        </form>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="well stacked">
              <h1></h1>
              @if(Model["all_ingredients"].Count == 0)
              {
                <p>All ingredients are added</p>
              }
              @if(Model["all_ingredients"].Count != 0)
              {
                <form action="/dishes/@Model["dish"].GetId()/ingredients" method="post">

                      <label for="ingredientId">Add ingredient</label>
                      <select id="ingredientId" name="ingredientId">
                          @foreach(Ingredient ingredient in Model["all_ingredients"])
                          {
                              <option value="@ingredient.GetId()">@ingredient.GetName()</option>
                          }
                      </select>
                      <label for="quantity">Quantity</label>
                      <input id="quantity" name="quantity" type="number" value="1" required>

                      <button type="submit">Add</button>
                </form>
              }
          </div>
          <div class="well stacked">
              <h1></h1>
          </div>
          <div class="well stacked">
              <h1></h1>
          </div>
      </div>
      <div class="col-md-8">
          <div class="well big">
              <h1></h1>


                @if(Model["dish_ingredients"].Count == 0)
                {
                    <p>No ingredients</p>
                }
                @if(Model["dish_ingredients"].Count != 0)
                {
                    @foreach(IngredientQuantity ingredient in Model["dish_ingredients"])
                    {
                        <br>
                        <form action="/dishes/@Model["dish"].GetId()/ingredients/@ingredient.GetIngredient().GetId()" method="post">
                            <p>Ingredient: @ingredient.GetIngredient().GetName()</p>
                            <label for="quantity">Quantity</label>
                            <input id="quantity" name="quantity" type="number" value="@ingredient.GetQuantity()"required>
                            <br>
                            <button type="submit">Edit quantity</button>
                        </form>
                        <form action="/dishes/@Model["dish"].GetId()/ingredients/@ingredient.GetIngredient().GetId()/delete" method="post">

                            <button type="submit">Delete</button>
                        </form>
                    }
                }
          </div>
      </div>
  </div>
</div>
