@using InventoryTracker.Models
@{
Layout="_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="well long">
            <div class="left">
                <h1>Table number @Model["order"].GetTableNumber() @Model["order"].GetOrderDate()</h1>
            </div>
            <div class="right">
                <form action='/orders/@Model["order"].GetId()/edit'>
                    <button class="edit">Edit</button>
                </form>
                <form action='orders/@Model["order"].GetId()/delete'>
                    <button class="delete">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="well stacked">
            @if(Model["all_dishes"].Count == 0)
            {
                <p>All dishes are in the order.</p>
            }
            @if(Model["all_dishes"].Count != 0)
            {
                <form action="/orders/@Model["order"].GetId()/dishes" method="post">

                <label for="dishId">Add dish</label>
                <select id="dishId" name="dishId">
                    @foreach(Dish dish in Model["all_dishes"])
                    {
                        <option value="@dish.GetId()">@dish.GetName()</option>
                    }
                </select>
                <label for="newDishQuantity">Quantity</label>
                <input id="newDishQuantity" name="newDishQuantity" type="number" value="1" required>

                <button class="add" type="submit">Add</button>
                </form>
            }
        </div>
        
    </div>
    <div class="col-md-8">
        <div class="well big">
            @if(Model["order_dishes"].Count == 0)
            {
                <p>No orders</p>
            }
            @if(Model["order_dishes"].Count != 0)
            {
                <div class="button-lineup">
                @foreach(DishQuantity dish in Model["order_dishes"])
                {
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="left">
                                <form action="/orders/@Model["order"].GetId()/dishes/@dish.GetDish().GetId()" method="post">
                                    <label for="quantity">@dish.GetDish().GetName()</label>
                                    <input id="quantity" name="quantity" type="number" value="@dish.GetQuantity()"required>
                                    <button class="edit" type="submit">Edit quantity</button>
                                </form>
                            </div>
                            <div class="right offset">
                                <form action="/orders/@Model["order"].GetId()/dishes/@dish.GetDish().GetId()/delete" method="post">
                                    <button class="delete" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>    
                    </div>
                      
                }
                </div>
            }
        </div>
    </div>
</div>
